</div>
<nav class="navbar navbar-inverse">

    <div class="container">
        <h1>Thank You for visiting!!!!!!</h1>
    </div>
  </nav>
  
  </body>
  <script type="text/javascript" src="/music/music.js"></script>
  </html>