<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/styles/styles.css"> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
	 
</head>
<body>

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
   
    <div class="navbar-header">
    	<span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/"><b>Spotify</b></a>
    </div>

   
   
     
      <ul class="nav navbar-nav navbar-right">
      	<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

      	<li><a href="\help">Help</a></li>
      	<li><a href="\logout">log out</a></li>
      	<li><a href="#">    |    </a></li>
        <li><a href="\signup">Sign up</a></li>
        <li id="aaaaa"><a href="\login">Login</a></li>
        
      </ul>
    </div>
  </div>
</nav>
<body>
    <div class="container">

