<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="/styles/styles.css"> 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
	 
</head>
<body>

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
   
    <div class="navbar-header">
    	<span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/"><b>Spotify</b></a>
    </div>

   
   
     
      <ul class="nav navbar-nav navbar-right">
      	<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

      	<li><a href="\help">Help</a></li>
      	<li><a href="\logout">log out</a></li>
      	<li><a href="#">    |    </a></li>
        <li><a href="\signup">Sign up</a></li>
        <li id="aaaaa"><a href="\login">Login</a></li>
        
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <p> <h1><b>MUSIC</b></h1> that helps you focus free...</p>
  <p><a class="btn btn-primary btn-lg" href="/song" role="button">Play more</a></p>
</div>

<div class="container">
<div class="row">
	<div class="col-lg-4 col-md-6 col-xs-12">
	<div class="thumbnail">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIHAN1cdncU_1R7XtItxiM7IawFZg9VWZmYXmaegKP-3lSLl96&amp;s" alt="Related image">
		<h3>kal ho na ho</h3>
             <audio controls>
				<source src="Cheating on You.mp3" type="audio/mpeg">
			</audio>		
	</div>
	
</div>
	<div class="col-lg-4 col-md-6 col-xs-12">
	<div class="thumbnail">
		<img src="https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2019/08/08/Pictures/_ed41db00-b9e6-11e9-a203-e6c4ad816de5.JPG" alt="Image result for atif aslam" width="400" height="225">
		<h3>suna h suna h</h3>
             <audio controls>
				<source src="bubbles.mp3" type="audio/mpeg">
			</audio>		
	</div>
	
</div>
<div class="col-lg-4 col-md-6 col-xs-12">
	<div class="thumbnail">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwHhvnRWMBTWNnIJRudvmoFxioViZAv3vJVZSEJs1e5Fp1fTGZ0g&amp;s" alt="Related image">
		<h3>banjara</h3>
             <audio controls>
				<source src="bubbles.mp3" type="audio/mpeg">
			</audio>		
	</div>
	
</div>
<div class="col-lg-4 col-md-6 col-xs-12">
	<div class="thumbnail">
		<img src="https://images1.livehindustan.com/uploadimage/library/2019/04/25/16_9/16_9_1/arijit_singh_1556171678.jpg" alt="Image result for arijit" width="400" height="225">
		<h3>pal 2 pal</h3>
             <audio controls>
				<source src="bubbles.mp3" type="audio/mpeg">
			</audio>		
	</div>
	
</div>
<div class="col-lg-4 col-xs-12 col-md-6">
	<div class="thumbnail">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVhGx6O6wjYlHsosriXQDOT425AaU2-AnAjfi4T9krob_cWUR4&amp;s" alt="Related image">
			<h3>tere liye</h3>
			 <audio controls>
				<source src="bubbles.mp3" type="audio/mpeg">
			</audio>
	</div>

</div>
<div class="col-lg-4 col-md-6 col-xs-12">
	<div class="thumbnail">
		<img src="https://i1.wp.com/feminisminindia.com/wp-content/uploads/2019/06/kabir-singh-shahid-kapoor.jpg?fit=776%2C450&amp;ssl=1" alt="Image result for kabir singh" width="450" height="261">
			<h3>tera ban jaunga</h3>
             <audio controls>
				<source src="bubbles.mp3" type="audio/mpeg">
			</audio>
	</div>

</div>
</div>
</div>
<nav class="navbar navbar-inverse">
  <div class="container">
  	<h1>Thank You for visiting!!!!!!</h1>
  </div>
</nav>

</body>
<script type="text/javascript" src="music.js"></script>
</html>